body {
    margin: 0;
    font-family: "OrhonHawangTig";
    line-height: 1.5;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'OrhonHawangTig';
    src: url('OrhonHawangTigH/OrhonHawangTig-H-Regular.eot'); /* IE9+ Compat Modes */
    src: url('OrhonHawangTigH/OrhonHawangTig-H-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('OrhonHawangTigH/OrhonHawangTig-H-Regular.woff') format('woff'), /* Modern browsers */
         url('OrhonHawangTigH/OrhonHawangTig-H-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('OrhonHawangTigH/OrhonHawangTig-H-Regular.svg#FontName') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}